/* space-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'SpaceMono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/space-mono-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* flow-circular-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'FlowCircular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/flow-circular-v11-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*,
*::after,
*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}
body{
  height: 100%;
  background-color: $background-primary;
  font-family: 'Flow Circular',sans-serif;
}